<nav class="nav-extended">
    <div class="nav-wrapper">
		<a href="#" class="brand-logo center">tkbCTF</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">			
			<li><a href="/rule">Rule</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/scores">Scores</a></li>
			{{ if .session.isAdmin }}
			{{ if eq .session.isAdmin "1" }}
			<li><a href="/admin/rule">[Admin] Rule</a></li>
			<li><a href="/admin/tasks">[Admin] Tasks</a></li>
			<li><a href="/admin/genres">[Admin] Genres</a></li>
			{{ end }}
			{{ end }}
		</ul>
		<ul  class="side-nav" id="mobile-demo">
			<li><a href="/rule">Rule</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><a href="/scores">Scores</a></li>
			{{ if .session.isAdmin }}
			{{ if eq .session.isAdmin "1" }}
			<li><a href="/admin/rule">[Admin] Rule</a></li>
			<li><a href="/admin/tasks">[Admin] Tasks</a></li>
			<li><a href="/admin/genres">[Admin] Genres</a></li>
			{{ end }}
			{{ end }}
		</ul>

		<ul id="nav-mobile2" class="right">
			{{- if .session.user }}
			<li><a href="/user">{{ .session.user }}</a></li>
			<li><a href="/logout">Logout</a></li>
			{{- else }}
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
			{{- end }}
		</ul>
    </div>
</nav>
